body {
  background-color: black;
}

.box {
  margin-top: 70px;
  font-family: dancing script;
  color: white;
  text-align: center;
  font-size: 35px;
}

#clock {
  position: relative;
  height: 30vw;
  width: 30vw;
  background: url('images/ss.jpg') no-repeat;
  background-size: 100%;
  margin: auto;
  margin-top: 80px;
}

#hour, #minute, #second {
  position: absolute;
  border-radius: 10px;
}

#hour {
  height: 23%;
  width: 1.7%;
  margin-left: 49%;
  margin-top: 28.25%;
  transform-origin: bottom;
  background-color: grey;

}

#minute {
  height: 27%;
  width: 1%;
  top: 24.1%;
  margin-left: 49.3%;
  transform-origin: bottom;
  background-color: grey;

}

#second {
  height: 37.5%;
  width: 0.5%;
  margin-left: 49.6%;
  margin-top: 20%;
  transform-origin: 60% 84%;
  background-color: red;
}
